#photo-galery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    gap: 24px;
}

#photo-galery .card-photo {
    display: flex;
    flex-wrap: wrap;
}

#photo-galery .card-photo img{
    width: 286px;
    height: 286px;
    object-fit: cover;
}